* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  // background: purple;
  header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    div {
      font-size: 20px;
      color: white;
      &.score {
        margin-left: 30px;
        }
      &.lives {
        margin-right: 20px;
      }
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-container {
      margin-left: 51px;
      margin-bottom: 15px;
      height: 510px;
      width: 455px;
      flex-wrap: nowrap;
      border-radius: 10px;
      // background: linear-gradient(to bottom right, #454ea0, dodgerblue);
      border: 5px inset black;
      box-shadow: 0 0 30px 15px #BC44DE;
      box-shadow: 0 0 30px 15px #BC44DE;
      .Y {
        display: flex;
        flex-flow: column wrap;
        width: 445px;
        height: 14px;
        .items {
          height: 100%;
        }
      }
    }
  }
  footer {
    height: 50px;
}

.lose-overlay {
text-align: center;
font-size: 40px;
color: purple;
font-family: serif;
display: flex;
flex-direction: column;
position: fixed;
display: none;
width: 100px;;
height: 75px;
top: 29%;
left: 42%;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0);
z-index: 2;
cursor: pointer;
.lose {
  background: black;
  width: 150px;

}
}

.die-overlay {
text-align: center;
font-size: 40px;
color: purple;
font-family: serif;
display: flex;
flex-direction: column;
position: fixed;
display: none;
width: 100px;;
height: 75px;
top: 29%;
left: 42%;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0);
z-index: 2;
cursor: pointer;
.die {
  background: black;
  width: 150px;

}
}

.win-overlay {
text-align: center;
font-size: 100px;
color: white;
font-family: serif;
display: flex;
flex-direction: column;
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5);
z-index: 2;
cursor: pointer;
}
