* {
  box-sizing: border-box;
}

body {
  main {

    .Y {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .X {
        display: flex;
        flex-flow: column wrap;
      .items {
        width: 90px;
        height: 60px;
        border: 1px solid black;
      }
      }
    }
  }
}
