* {
  box-sizing: border-box;
}

body {
  height: 1300px;
  main {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .container1 {

      display: flex;
      // flex-wrap: wrap;
      width: 900px;
      height: 750px;

      .Y {
        display: flex;
        flex-flow: column wrap;
        width: 3.6%;
      .items {
        height: 2.7%;
        border: 1px solid black;
      }
      }
    }
  }
}
